* {
  box-sizing: border-box;
  font-family: Teachers, serif;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #f6f5f4;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.loadscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  background: black;
  animation: fadeout 2s 1s cubic-bezier(1, 0, 1, 0) both;
}
.loadscreen h1 {
  color: #f6f5f4;
  font-size: 40vw;
  font-weight: 800;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -45% -50%;
  letter-spacing: 5rem;
  text-align: center;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: load 3s cubic-bezier(1, 0, 1, 0) both;
}

nav {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  padding: 5px 10vw;
  z-index: 10;
  background-color: transparent;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 60%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
}
nav h2 {
  z-index: 10;
  font-family: "Great Vibes", serif;
  font-size: 2.5rem;
}
nav ul {
  display: flex;
  gap: 5vw;
  list-style: none;
}
nav ul li {
  /*
  background-image: url("./textures/nnnoise.svg"),
      linear-gradient(45deg, $c-g1, $c-g2 30%, $c-g3);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  position: relative;
  transition: 0.3s ease-out all;
}
nav ul li:hover > * {
  scale: 1.1;
}
nav ul li::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b3bbc1;
  transition: 0.3s ease-out all;
  bottom: 0px;
  left: 100%;
  width: 0;
  opacity: 1;
  filter: blur(5px);
}
nav ul li:hover::after {
  animation: hoveranim1 0.3s cubic-bezier(0.13, 1, 0.7, 1) forwards;
}
nav ul li:not(:hover)::after {
  animation: hoveranim1rev 0.3s cubic-bezier(0.13, 1, 0.7, 1);
}
nav a {
  color: #f6f5f4;
  text-decoration: none;
}

@keyframes hoveranim1 {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 0;
    opacity: 1;
    filter: blur(0);
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes hoveranim1rev {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    filter: blur(0);
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 100%;
    width: 0;
    opacity: 1;
    filter: blur(0);
  }
}
.blurtop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-mask-image: linear-gradient(to bottom, black 33%, transparent);
  mask-image: linear-gradient(to bottom, black 33%, transparent);
}

.toppixel {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: black;
}

main {
  padding: 0 10vw;
  margin: 0;
}
main .screen1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .screen1 h1 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: 0;
  padding: 0 20px;
  font-size: clamp(3rem, 10vw, 8rem);
  font-weight: 600;
  font-family: "Great Vibes", serif;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  opacity: 0;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen1 h3 {
  margin: 0;
  font-weight: 400;
  color: #f6f5f4;
  font-size: clamp(1rem, 3vw, 3rem);
}
main .screen2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9rem;
}
main .screen2 div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-wrap: normal;
}
main .screen2 div h3 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  font-family: "Great Vibes", serif;
  text-align: center;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen2 div p {
  margin: 3rem 0;
  width: 100%;
  text-align: justify;
  padding: 0 10vw;
}
main .screen_works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .screen_works h3 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen_works img {
  position: relative;
  width: 100vw;
  left: -10vw;
  overflow-x: hidden;
}
main .screen_get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5vh;
}
main .screen_get-started h2 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: "Great Vibes", serif;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen_get-started p {
  margin: 0 0 10vh;
  padding: 0;
}
main .screen_get-started div {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 5vh 5vw;
}
main .screen_get-started div button {
  background: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #f6f5f4;
  font-size: 2rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 32rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.13, 1.24, 0.7, 1.34);
  outline: transparent 25px solid;
  outline-offset: -25px;
  color: #000;
}
main .screen_get-started div button:hover {
  background: #000;
  outline: #b3bbc1 5px solid;
  outline-offset: 5px;
  color: #b3bbc1;
}
main .screen4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5vh;
}
main .screen4 h2 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: "Great Vibes", serif;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen4 p {
  margin: 0 0 10vh;
  padding: 0;
}
main .screen4 div {
  padding: 0 10vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 5vh 5vw;
}
main .screen4 div button {
  background: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #f6f5f4;
  font-size: 2rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 32rem;
  cursor: pointer;
  grid-row: 1;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.13, 1.24, 0.7, 1.34);
  outline: transparent 25px solid;
  outline-offset: -25px;
  color: #000;
}
main .screen4 div button:hover {
  background: #000;
  outline: #b3bbc1 5px solid;
  outline-offset: 5px;
  color: #b3bbc1;
}
main .screen5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
}
main .screen5 h2 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  padding: 0 10px;
  font-family: "Great Vibes", serif;
  background-image: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .screen5 button {
  background: url("./textures/nnnoise.svg"), linear-gradient(45deg, #a47e1b, #dba51d 30%, #9e7714);
  background-blend-mode: soft-light;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #f6f5f4;
  font-size: 2rem;
  padding: 0;
  border: none;
  border-radius: 32rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s cubic-bezier(0.13, 1, 0.7, 1);
  outline: transparent 25px solid;
  outline-offset: -25px;
  color: transparent;
}
main .screen5 button:hover {
  background: #000;
  outline: #b3bbc1 5px solid;
  outline-offset: 5px;
  color: #b3bbc1;
  width: 16rem;
}
main .screen5 button svg {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
}
main .screen5 button p {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 1rem;
  margin: 0;
}
main .screen5 .community-half {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .screen5 .community-half .left {
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .screen5 .community-half .right {
  position: relative;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  overflow-x: hidden;
}
footer div {
  color: #000;
  gap: 1rem;
  padding: 50vh 10vw 5vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./textures/sssurf.svg");
  background-size: cover;
  width: 100vw;
  left: 0;
  bottom: 0;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0;
}
.separator div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.separator div span {
  width: 100%;
  height: 1px;
  background-color: #b3bbc1;
}

.disabled {
  color: #ababab;
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    padding-left: 0;
  }
  .screen2 p {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.5rem;
  }
}
.fadeup {
  animation: fadeup 0.4s cubic-bezier(0.13, 1.24, 0.7, 1.34) 0.2s both;
}

.spacein {
  animation: spacein 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.fadein {
  animation: fadein 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s both;
}

.fadeout {
  animation: fadein 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s both;
}

.separator-left {
  animation: separator-left 1s cubic-bezier(0.19, 0.8, 0.22, 1) both forwards;
}

.separator-right {
  animation: separator-right 1s cubic-bezier(0.19, 0.8, 0.22, 1) both forwards;
}

.anim-delay-02 {
  animation-delay: 0.2s;
}

.anim-delay-1 {
  animation-delay: 1s;
}

.anim-delay-2 {
  animation-delay: 2s;
}

.anim-delay-3 {
  animation-delay: 3s;
}

.anim-delay-3-5 {
  animation-delay: 3.5s;
}

.anim-delay-4 {
  animation-delay: 3.5s;
}

.anim-delay-4-5 {
  animation-delay: 4.5s;
}

.anim-delay-5 {
  animation-delay: 4s;
}

.anim-delay-6 {
  animation-delay: 6s;
}

@keyframes fadeup {
  from {
    opacity: 0;
    translate: 0 5vh;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}
@keyframes spacein {
  from {
    opacity: 0;
    letter-spacing: 2.2rem;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    letter-spacing: 0.2rem;
    filter: blur(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes load {
  from {
    opacity: 1;
    scale: 1;
  }
  25% {
    opacity: 1;
    scale: 1;
  }
  99% {
    opacity: 1;
    scale: 80;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
