$c-bg: #000;
$c-txt: #f6f5f4;
$c-acc: #a47e1b;
$c-dis: #ababab;

$c-g1: #a47e1b;
$c-g2: #dba51d;
$c-g3: #9e7714;

$darkify: rgba(0, 0, 0, 0.1);
$litify: rgba(255, 255, 255, 0.2);

* {
    box-sizing: border-box;
    font-family: Teachers, serif;
}

html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: $c-bg;
    color: $c-txt;
    padding: 0; margin: 0;

    font-size: 2rem;
}

nav {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding: 5px 10vw;

    ul {
        display: flex;
        gap: 5vw;
        list-style: none;

        li {
            color: $c-txt;
        }
    }

    a {
        color: $c-txt;
        text-decoration: none;
    }

    background-color: $darkify;
    backdrop-filter: blur(10px);
}

main {
    padding: 0 10vw; margin: 0;    

    .screen1 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 0;
            font-size: clamp(5rem, 10vw, 10rem);
            font-weight: 400;

            text-align: center;

            background-image:
                url("./textures/nnnoise.svg"),
                linear-gradient(45deg, $c-g1, $c-g2 30%, $c-g3);
            background-blend-mode: soft-light;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        h3 {
            margin: 0;
        }
    }
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            width: 100%;
            height: 1px;
            background-color: $c-acc;
        }
    }
}

.disabled {
    color: $c-dis;
}